/* 1024 */
@media screen and (max-width: 1024px) {
    h1{
        font-size: 48px;
    }
    
}

/* 768 */
@media screen and (max-width: 768px) {
    h1{
        font-size: 36px;
    }

    h2{
        font-size: 30px;
    }

    /* header */
    header .cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    header .cards .card{
        width: 100%;
    }
}