/* configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

p{
    color: #627084;
    font-size: 18px;
    line-height: 28px;
}

p.small{
    font-size: 14px;
    line-height: 20px;
}

h1{
    color: white;
    font-size: 60px;
}

h2{
    color: #1d2530;
    font-size: 36px;
    text-align: center;
}

h3{
    color: #1d2530;
    font-size: 18px;
}

h4{
    font-size: 16px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* header */
header{
    padding: 100px 2%;
    background-color: #0453AE;
    text-align: center;
}

header p {
    color: white;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

header .cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

header .card i{
    margin-bottom: 15px;
}

header .card.denuncia{
    background-color: #28BD78;
    color: white;
}

header .card.orientacoes{
    background-color: white;
    color: #0454AE;
}

header .card.orientacoes p{
    color: #0454AE;
}

header .card.emergencia{
    background-color: #DD7734;
    color: white;
}

header .card{
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

header .card:hover{
    transform: scale(1.05);
}

header .card p{
    font-size: 14px;
}

/* sobre */
.sobre{
    padding: 80px 2%;
    background-color: white;
}

.sobre .container > p{
    max-width: 800px;
    margin:30px auto;
    text-align: center;
}

.sobre .cards-sobre{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sobre .card-sobre{
    display: flex;
    padding: 20px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: border-color 0.3s;
    cursor: pointer;
}

.sobre .card-sobre:hover{
    border-color: #0453AE;
}

.sobre .card-sobre i{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 50%;
    background-color: #E5EEF7;
    color: #0453AE;
}

/* quando procurar */
.quando-procurar{
    padding: 100px 2%;
    background-color: #F3F5F7;
}

.quando-procurar .container > p{
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.cards-quando{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
 

.card-quando{
    max-width: 344px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card-quando h3{
    margin: 10px 0;
}

.card-quando:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-quando i{
    font-size: 20px;
    margin-bottom: 7px;
}

.quando-emergencia{
    border-radius: 10px;
    background-color: #F3E9E1;
    max-width: 1070px;
    padding: 30px 20px;
    margin: 30px auto;
    border-left: 5px solid #F47B25;
}

.quando-emergencia div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.quando-emergencia i{
    font-size: 24px;
    color: #FCE100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0);
}

.quando-emergencia p{
    margin-top: 20px;
}

/* redes de apoio */
.apoio{
    padding: 100px 2%;   
}

.apoio .container > p{
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.cards-apoio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-apoio{
    max-width: 344px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.card-apoio i{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 50%;
    background-color: #E9F8F1;
    color: #28BD78;
}

.card-apoio p{
    text-align: left;
    margin-top: 10px;
}

.card-apoio .destaque{
    color: #0453AE;
    font-weight: bold;
}

/* materias de apoio */
.materiais-educativos{
    padding: 100px 2%;
    background-color: #F3F5F7;
}

.materiais-educativos .container > p{
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.cards-materiais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-material{
    max-width: 344px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.card-material > p{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

.card-material .btn-download{
    color: #1d2530;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.card-material .btn-download:hover{
    background-color: #F47B25;
    color: white;
}

.card-material .btn-download i{
    padding-right:15px;
}

.card-material .box-title{
    display: flex;
    align-items:self-start;
    gap: 10px;
}

.card-material .box-title i{
    font-size: 20px;
    color: #0453AE;
    background-color: #E5EEF7;
    padding: 10px;
    border-radius: 10px;
}

.card-material .box-title .titles{
    text-align: left;
}

.card-material .box-title .titles p{
    margin: 5px 0;
}

.card-material .box-title .titles .blue{
    color: #0453AE;
}

/* perguntas frequentes */

.perguntas-frequentes{
    padding: 100px 2%;
}

.perguntas-frequentes .container > p{
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.perguntas-frequentes .pergunta{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.perguntas-frequentes .pergunta .title-pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.perguntas-frequentes .pergunta .resp{
    margin-top: 20px;
    display: none;
    padding: 0 20px 20px 20px;
}